body{
    margin-top:100px;
    background-color: #e4b124;
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 5px 15px 5px rgba(52,40,104,.08);
    
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 20px !important;
}

.card-header{
    border-radius: none !important;
    
}